// values.scss
$about-margin-top: 20px;
$about-margin-bottom: 20px;
$about-padding-top: 20px;
$about-padding-bottom: 20px;
$about-bg-color: #FFFFFF;
$about-border-top: #CCCCCC;
$about-border-bottom: #CCCCCC;

.about {
  margin-top: $about-margin-top;
  margin-bottom: $about-margin-bottom;
  padding-top: $about-padding-top;
  padding-bottom: $about-padding-bottom;
  border-top: solid 1px $about-border-top;
  border-bottom: solid 1px $about-border-bottom;
  background-color: $about-bg-color;
}
