//topbar partial _topbar.scss

$footer-bg-color: #FFFFFF !important;
$footer-display-text-color: #000000;
$footer-border-top-color: #CCCCCC;
$footer-border-bottom-color: #CCCCCC;

footer {
  background-color: $footer-bg-color;
  border-top: solid 1px $footer-border-top-color;
  border-bottom: solid 1px $footer-border-bottom-color;
  color: $footer-display-text-color;
}
