//topbar partial _topbar.scss

$primary-footer-padding-top: 40px;
$primary-footer-padding-bottom: 40px;
$primary-footer-bg-color: #0070C0 !important;
$primary-footer-display-text-color: #CCCCCC;

.primary-footer {
  padding-top: $primary-footer-padding-top;
  padding-bottom: $primary-footer-padding-bottom;
  background-color: $primary-footer-bg-color;
  color: $primary-footer-display-text-color;
}
