// hero partial _hero.scss
$hero-display-text: Georgia, Times New Roman, sans-serif;
$hero-display-text-color: #CCCCCC;
$hero-background-color: #0075BD;
$hero-background-image: url('http://placehold.it/1000x2000');

.hero {
  background-color: $hero-background-color;
  //background-image: $hero-background-image;
  color: $hero-display-text-color;
}
