// _primary-nav.scss

$primary-nav-bg-color: #FFFFFF !important;
$primary-nav-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$primary-nav-font-size: 16px;
$primary-nav-site-title: "Work Sans", "Helvetica", "Arial", sans-serif;
$primary-nav-site-title-font-size: 16px;
$primary-nav-site-title-color: #000000;
$topbar-bg-color: #FFFFFF !important;
$topbar-ul-bg-color: #FF0000;
$topbar-display-text-color: #000000;
$topbar-link-color: #FF0000;
$topbar-link-hover-color: #990000;
$topbar-left-bg-color: #FFFFFF;
$topbar-right-bg-color: #FFFFFF;

.primary-nav {
  background-color: $primary-nav-bg-color;
}

nav, .top-bar {
  background-color: $topbar-bg-color;
}

.top-bar ul {
  background-color: $topbar-bg-color;
}

.top-bar ul menu {
  background-color: $topbar-ul-bg-color;
}

.top-bar-left {
  background-color: $topbar-left-bg-color;
}

.top-bar-right {
  background-color: $topbar-right-bg-color;
}

.top-bar ul li a {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
  text-transform: uppercase;
}

.top-bar ul li a:hover {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
  text-decoration: underline;
}

.top-bar ul li a:active {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
  text-decoration: underline;
}

.site-title {
  font-family: $primary-nav-site-title;
  font-size: $primary-nav-site-title-font-size;
  color: $primary-nav-site-title-color;
  text-transform: uppercase;
}

a.site-title:hover {
  color: $primary-nav-site-title-color;
}
