//topbar partial _topbar.scss

$primary-nav-bg-color: #FFFFFF !important;
$primary-nav-font-family: Helvetica, Arial, sans-serif;
$primary-nav-font-size: 16px;
$topbar-bg-color: #FFFFFF !important;
$topbar-ul-bg-color: #FF0000;
$topbar-display-text-color: #000000;
$topbar-link-color: #FF0000;
$topbar-link-hover-color: #990000;
$topbar-left-bg-color: #FFFFFF;
$topbar-right-bg-color: #FFFFFF;

.primary-nav {
  background-color: $primary-nav-bg-color;
}

nav, .top-bar {
  background-color: $topbar-bg-color;
}

.top-bar ul {
  background-color: $topbar-bg-color;
}

.top-bar ul menu {
  background-color: $topbar-ul-bg-color;
}

.top-bar-left {
  background-color: $topbar-left-bg-color;
}

.top-bar-right {
  background-color: $topbar-right-bg-color;
}

.top-bar ul li a {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
}

.top-bar ul li a:hover {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
  text-decoration: underline;
}

.top-bar ul li a:active {
  font-family: $primary-nav-font-family;
  font-size: $primary-nav-font-size;
  font-weight: bold;
  text-decoration: underline;
}
